@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Skill Tracker</h1>
    <p class="lead">Skill Tracker is a robust, web-based tool that allows companies to keep track of the skill distribution among their employees, resulting in
    a wholesome overview of the knowledge and experience base within their organization. </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account and add your company to our service, or use the code provided by your system administrator and join them.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Register now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>A company profile</h2>
        <p>Create your company's profile and become the system administrator. Upload a logo, create a list of skills and monitor your employees' focus.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Personal profile</h2>
        <p>Use the reference code given to you by your system admin and join their company. Add your current skills and set your focus for next year.</p>
        
    </div>
</div>